<div class="card">
<div class="card-header">
    Flat List
</div>


<mat-card class="card1">
<mat-card-header class="header">Flat  List</mat-card-header>
</mat-card>
<mat-card class="card1">
  <mat-card-header>
    <mat-card-title-group>
   <mat-card-title class="header">Details </mat-card-title>

    </mat-card-title-group>
  </mat-card-header>
</mat-card>
<div class="card-body">

  <!-- <input type="text"  #numR [(ngModel)]="numRooms"/> -->

  <!-- <h1>Filtered as per number of rooms {{numRooms}}</h1> -->

<div class="table-responsive">
  <div *ngIf="flats.length">
    <!-- <table *ngIf="flats.length"   class="table table-dark ">

        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Area</th>
              <th scope="col">NUmberof rooms</th>
              <th scope="col"># balconies</th>
              <th scope="col">Rent</th>
              <th scope="col"><button
                class="btn btn-primary"
                (click)="imageVisibility()">{{showImage ? 'Hide' : 'Show'}} Image</button></th>

            </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let flat of filteredFlats;let i = index"> -->
              <div *ngFor="let flat of filteredFlats;let i=index;">
              <mat-card class="card1">
                <mat-card-header>
                  <mat-card-title-group>
                 <mat-card-title> Area : {{flat.areaInSqFt}} sq. ft</mat-card-title>
                 <mat-card-subtitle>Number of Rooms :{{flat.numberOfRooms}}</mat-card-subtitle>
                 <img *ngIf="showImage"
                 [src]='flat.imageUrl'
                 [title]="flat.numberOfRooms"
                mat-card-sm-image
                 />
                  </mat-card-title-group>
                </mat-card-header>
              </mat-card>
              <!-- <td>{{i+1}}</td>
                <td>
                 {{flat.areaInSqFt}}
                </td>
                <td>{{flat.numberOfRooms}}</td>

                <td>{{flat.numberOfBalconies}}</td>
                <td>{{flat.monthlyRent}}</td>
                <td><img *ngIf="showImage"
                  [src]='flat.imageUrl'
                  [title]="flat.numberOfRooms"
                  [style.margin.px]="imageMargin"
                  [style.width.px]="imageWidth"
                  [style.height.px]="imageHeight"
                  /></td>
              </tr>
          </tbody>
        </table> -->

</div></div></div>


</div>


</div>
