<form  autocomplete="false" #empForm="ngForm" (ngSubmit)="onSubmit(empForm)">
<div class="form-group">
<p>
    <label for="firstname">FirstName</label>
    <input class="form-control" #firstname="ngModel" type="text" name="firstname"
     id="firstname" required minlength="3" ngModel></p>
     <div *ngIf="!firstname?.valid && (firstname?.dirty || firstname?.touched)" class="error">
       <div *ngIf="firstname.errors?.['required']">
         FirstName is required
    </div>
    <div *ngIf="firstname.errors?.['minlength']">
        FirstName minimum number of chars  required is 3
   </div>


    </div>


<p>
    <label for="lastname">LastName</label>
    <input class="form-control"
     #lastname="ngModel"
    required
    pattern="^[A-Za-z]+$"
    type="text" name="lastname" id="lastname" ngModel></p>

    <div *ngIf="!lastname?.valid && (firstname?.dirty || firstname?.touched)" class="error">
        <div *ngIf="firstname.errors?.['required']">
          Lastname is required
     </div>
     <div *ngIf="lastname.errors?.['pattern']">
         Lastname should have alphabets
        </div>

</div>



<p>
    <label for="country">Country</label>
    <select (click)="changeCountry()" #country="ngModel" name="country" id="country" required ngModel>
        <option [ngValue]="c.id" *ngFor="let c of countries">{{c.name}}</option>
    </select>

</p>

<p>
    <label for="id">Id</label>
    <input class="form-control" type="text" name="id" id="id" #id="ngModel"
    required
    getValidator
    ngModel>


</p>
<div *ngIf="!id?.valid && (id?.dirty || id?.touched)" class="error">
    <div *ngIf="id.errors?.['required']">
      Id is required
 </div>
 <div *ngIf="id.errors?.['gve']">
     number should be greater than {{id.errors?.['requiredValue']}}
    </div>

</div>



<button class="btn btn-primary" type="submit" [disabled]="!empForm.valid">Submit</button>
<button class="btn btn-danger" type="button" (click)="reset(empForm)">Reset</button>

</div>
</form>

<br>{{empForm.valid}}

