<div class="table-responsive">

    <table class="table table-striped">
        <thead>
          <tr><th>id</th>
        <th>name</th>

        </thead>
        <tbody>
            <tr *ngFor="let emp of emps;let index=index ;">
             <td>{{emp.id}}</td>
             <td><a [routerLink]="['detail',emp.id]">{{emp.name}}</a></td>

            </tr>
        </tbody>

    </table>
</div>
<ul class="nav navbar-nav">
<li><a [routerLink]="['leaves']">Check your leaves</a></li>
<li><a routerLink="suggestions">Drop your suggestions</a></li></ul>

<router-outlet></router-outlet>
