<div class="card">
    <div class="card-header">
     Shopping Cart
    </div>

    <div class="card-body">


    <div class="table-responsive">
        <table *ngIf="products.length"   class="table  ">

            <thead>
                <tr>
                 <th scope="col">Name</th>
                  <th scope="col">Category</th>
                  <th scope="col">Price</th>
                  <th scope="col">Qty</th>
                </tr>
              </thead>
              <tbody>
                <tr  *ngFor="let prod of products;let i = index">
                  <td>{{i+1}}</td>
                    <td >
                     {{prod.name|uppercase}}
                    </td>
                    <td>{{prod.category}}</td>

                    <td>{{prod.price|currency:'INR'}}</td>
                     <!--<td>{{prod.rating}}</td>-->
                     <td><input type="number" [(ngModel)]="prod.qty"></td>
                         </tr>
              </tbody>
            </table>

    </div>


    </div>


    </div>
