
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<app-a></app-a>
<app-c>

</app-c>
<h1>{{pageTitle}}</h1>
<h2>{{name}}</h2>
<div class="row">
<div [ngClass]="cssStyle">this is div</div>
  <h1 [ngStyle]="{'font-size':'40px','color':'purple'}">hello world</h1></div>

<app-welcome></app-welcome>

<!--
<div class="container">
<pent-house class="flex-item"></pent-house>
<app-welcome class="flex-item"></app-welcome>
</div>

<flat-list></flat-list>-->


 <products-list (OnProductSelection)="onProductSelection($event)"></products-list>

<app-cart [products]="products"></app-cart>
</body>
</html>
