<div class="card">
    <div class="card-header">
        {{pageTitle}}

      </div>

    <div class="card-body">

      <input type="text" (keypress)="filterData(filterValue)"  [(ngModel)]="filterValue"/>

      <h1>Filtered as per  {{filterValue}}</h1>

    <div class="table-responsive">
        <table *ngIf="products.length;else elseBlock"   class="table  ">

            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Category</th>
                  <th scope="col">Price</th>
                  <th scope="col">Rating</th>

                  <th scope="col">Image</th>
                  <th scope="col">Qty</th>

                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let prod of filteredProducts;let i = index"

                  >
                  <td>{{i+1}}</td>
                    <td (click)="productSelected(prod)">
                     {{prod.name|uppercase}}
                    </td>
                    <td>{{prod.category}}</td>

                    <td>{{prod.price|currency:'INR'}}</td>
                     <!--<td>{{prod.rating}}</td>-->

                     <td><app-star
                      [rating]='prod.rating'
                       [title]="prod.rating"
                       (ratingClicked)="onRatingClicked($event)"></app-star></td>
                     <td><img
                      [src]='prod.image'
                      [title]="prod.name"
                      height="50px"
                      width="50px"
                      alt="some product image"
                      /></td>
                     <td><button class="btn btn-primary"
                      (click)="getProductById(prod.id)">Get Product</button>
                       </td>
                      <td><input type="number" style="width: 50px;" [(ngModel)]="prod.qty"></td>
                  </tr>
              </tbody>
            </table>

            <ng-template #elseBlock><h1>No products</h1></ng-template>

    </div>


    </div>
    <div class="card-footer">
      <div class="col-md-4 text-right">
        <button class="btn btn-primary"
        (click)="newProduct()">Add a Product</button>

      </div>
    </div>
 </div>
<router-outlet></router-outlet>
