<div class="card">
    <div class="card-header">
        Product List
    </div>

    <div class="card-body">

      <input type="text" (keyup)="filterData(filterValue)"  [(ngModel)]="filterValue"/>

      <h1>Filtered as per number of rooms {{filterValue}</h1>

    <div class="table-responsive">
        <table *ngIf="products.length"   class="table  ">

            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Category</th>
                  <th scope="col">Price</th>
                  <th scope="col">Image</th>

                </tr>
              </thead>
              <tbody>
                <tr  *ngFor="let prod of filteredProducts;let i = index">
                  <td>{{i+1}}</td>
                    <td>
                     {{prod.name}}
                    </td>
                    <td>{{prod.category}}</td>

                    <td>{{prod.price}}</td>
                     <td><img
                      [src]='prod.image'
                      [title]="prod.name"
                      height="50px"
                      width="50px"
                      /></td>
                  </tr>
              </tbody>
            </table>

    </div>


    </div>


    </div>
