

<div class="container main-content">
  <router-outlet></router-outlet>
</div>



<!--you can uncomment below code to understand content projection and life cycle hooks-->
<!--  <greeting [messageText]="msg">
  <h1>hello world!!</h1>
  <button class="btn btn-default">say hello</button>
  <p att1>This is a para</p>
</greeting>

<greeting>
  <h1 att1 class="h1">Amit</h1>
  <button class="btn btn-info">click here to see Amit's details</button>
</greeting>


<greeting>
  <h1 class="h1">Shalini</h1>
  <button class="btn btn-warning">click here to see Shalini's details</button>
</greeting>

 -->

